/* Importa a fonte Poppins do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

body{
    background-image: url("img.jpgl"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Tela centralizada */
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Caixa menor (estilo cartão) */
.esqueci-box{
    width: 380px;
    padding: 4em 2.5em 3em 2.5em;
    color: var(--second-color);
    backdrop-filter: blur(20px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}

/* Título */
.esqueci-header{
    text-align: center;
    margin-bottom: 30px;
}

.esqueci-header span{
    font-size: 26px;
    font-weight: 600;
    color: var(--second-color);
}

/* Caixa dos inputs */
.input_box{
    position: relative;
    margin: 30px 0;
}

/* Campo */
.input-field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    color: var(--second-color);
    font-size: 16px;
    padding-left: 30px;
}

/* Ícones */
.input_box i{
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 20px;
    color: var(--primary-color);
}

/* Label */
.label{
    position: absolute;
    left: 30px;
    top: 12px;
    color: var(--primary-color);
    pointer-events: none;
    transition: .3s ease;
}

/* Floating label */
.input-field:focus ~ .label,
.input-field:valid ~ .label{
    top: -12px;
    font-size: 13px;
    color: var(--second-color);
}

/* Botão */
.input-submit{
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--black-color);
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.input-submit:hover{
    background-color: #ffffff;
}

/* Voltar */
.voltar{
    text-align: center;
    margin-top: 15px;
}

.voltar a{
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline;
}
