@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
*

body {
  background-image: url("./img.jpg");
  background-size: cover;
  background-position: center;
}

#container-botoes {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.link-div {
  text-decoration: none;
}

.login {
  background-color: rgb(26, 26, 26);
  color: #fff;
  padding: 15px 40px;
  font-size: 30px;
  border-radius: 999px; /* redondo */
  transition: 1s;
}

.login:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.link-div {
  text-decoration: none;
}

.cadastro {
  background-color: rgb(26, 26, 26);
  color: #fff;
  padding: 15px 40px;
  font-size: 30px;
  border-radius: 999px; /* redondo */
  transition: 1s;
}

.cadastro:hover {
  transform: scale(1.07);
  cursor: pointer;
}